@import "tailwindcss";
@plugin "daisyui";
body {
  background-color: #0e1525;
  color: #ffff;
}
.active {
  color: #ffd447;
}

.btc {
  background-color: #ffd447;
  color: #1a1a1a;
}

.btc:hover {
  background-color: #e6bd3f;
}
